<a href="https://colab.research.google.com/github/FentanesOscar/FentanesOscar/blob/main/W4L1%262.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#W4. L1. Condtional & IF Statements

###Coniditional Statements
---

In [ ]:
 x = 28

if x%2==0:
  print('Number is even')
else:
  print('Number is odd')

Number is even

In [ ]:
#multiple condition

if (1+1==2) and (1-1==0):
  print("Both statements are true")
elif 1!=2:
  print('cool')
else:
  print('At least one statement is wrong')

Both statements are true

In [ ]:
##Checking for Vowels
letter = 'a'
if letter in ['a','e','i','o','u']:
  print('Letter is a vowel')
else:
  print('no vowels here')

Letter is a vowel

###Checking multiple Conditions
---

In [ ]:
a = 3
b = 10

if (a>=5) and (b>5):
  c=a*b
elif (a>5) and (b<=5):
  c=a-b
else:
  c='Failed'

print(c)

Failed

In [ ]:
##Student Grade pass or fail

marks = 40

if marks>=50:
  print('Pass')
else:
  print('Fail')

Fail

In [ ]:
###

score = 82

if score>=90:
  grade='A'
elif score>=80:
  grade='B'
elif score>=70:
  grade='C'
elif score>= 60:
  grade='D'
else:
  grade='F'


print('The students grade is: {}'.format(grade))

The students grade is: B

In [ ]:
### Checkign discounts based on purchase ammount

purchase_ammount=75

if purchase_ammount<50:
  discount=0
elif purchase_ammount<100:
  discount=10
elif purchase_ammount<200:
  discount=20
elif purchase_ammount<300:
  discount=30
else:
  discount=30


final_ammount = purchase_ammount - (purchase_ammount*discount/100)

print('There is a {}% discount on that ${} purchase. The total would be {}'.format(discount, purchase_ammount, final_ammount))

There is a 10% discount on that $75 purchase. The total would be 67.5

###Nested IF Statement
---

In [ ]:
### Example 1: Checking for age group

age = 10

if age<18:
  if age<13:
    print('Child')
  else:
    print('Teenager')
else:
  if age<65:
    print('Adult')
  else:
    print('Senior')

Child

In [ ]:
## Example 2: Checking for Grade

score = 20

if score>=90:
  print('Grade A')
else:
  if score>=80:
    print('Grade B')
  else:
    if score>=70:
      print('Grade C')
    else:
      if score>=60:
        print('Grade D')
      else:
        print('Grade F')

Grade F

In [ ]:
### Example 3: Checking the type of triangle based on side length

side1=3
side2=3
side3=50

if side1+side2>side3:
  if side1==side2==side3:
    print('Equilateral Triangle')
  elif side1==side2 or side2==side3 or side3==side1:
    print('Isosceles Triangle')
  else:
    print('Scalene Triangle')
else:
  print('Invalid Triangle')

Invalid Triangle

In [ ]:
## Example 4: age

age = 16

if age<18 or age >=60:
  print('You are a danger on the road')
else:
  print('You are still a danger on the road but not as much')

You are a danger on the road

In [ ]:
##Example 5: Combing Logical Operators

age = 40
income = 27000

if (age>=18 and age<=50) and income>30000:
  print('Eligible for a loan')
else:
  print('Ineligible for a loan')

Ineligible for a loan

In [ ]:
### Not Operator

is_raining = True

if not is_raining:
  print('You can go for a walk.')
else:
  print('I would stay home.')

I would stay home

In [ ]:
## Example 6: scores... again

#W4. L2. Loops
---

Loops are used for tasks that are repetitive and follow a pattern

1. While Loop: as long as something is True, keep doing this action

2. For Loop: Iteratve over a sequence and executes a block of code.

In [ ]:
### Print hella times

print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello
hello

In [ ]:
for i in list(range(10)):
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

###While

In [ ]:
toad = 6

while toad<=5:
  print(toad)

## Since 1 is always less than 5, this would run forever

In [ ]:
frog = -1

while frog<=5:
  print(frog)
  frog=frog+0.5 ## equal syntax would be: frog+=0.5

## Here frog gets 0.5 added to it and printed until it is greater than 5

-1
-0.5
0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [ ]:
h = 10

while h > 0:
  print('The value of h is {}'.format(h))
  h-=1

The value of h is 10
The value of h is 9
The value of h is 8
The value of h is 7
The value of h is 6
The value of h is 5
The value of h is 4
The value of h is 3
The value of h is 2
The value of h is 1

In [ ]:
greg = 1

while greg<2000:
  greg = greg*2
  print(greg)

2
4
8
16
32
64
128
256
512
1024
2048

###While Loops with User input

In [ ]:
message=' '

while message != 'quit':
  message= input()

u
h
quit

In [ ]:
correct_pass = 'Pass123'
user_input = " "

while user_input != correct_pass:
  user_input = input('Password: ')

print('Access granted')

In [ ]:
### Countdown (its the final)

count = int(input('Enter a number'))

while count>0:
  print(count)
  count-=1

print('Happy New Years!!')

Enter a number10
10
9
8
7
6
5
4
3
2
1
Happy New Years!!

In [ ]:
monte = 0

while monte < 5:
  print("Count:",monte)
  monte+=1

print('Loop Ended')

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Loop Ended

### Using BREAK to exit a Loop

In [ ]:
steve = 0

while True:## infinite loop possibility
  print(steve)
  steve+=1
  if steve>=10:## breaks the loop
    break

In [ ]:
edgar = 3

while True:
  print(edgar)
  edgar+=1
  if edgar>15:
    break

In [ ]:
while True:
  city = input()
  if city == 'quit':
    break
  else:
    print(city.title())

### **For** Loop

In [ ]:
fruits = ['apple', 'orange', 'straberries', 'blueberries']

type(fruits)

1. Simple for loop with a list.

In [ ]:
for i in fruits:
  print(i)

2. loop with range

In [ ]:
list(range(3))

In [ ]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
dates = [1977,1999,2001]

for date in dates:
  print(date)

1977
1999
2001

In [ ]:
bdays = len(dates)
print(bdays)

for i in range(bdays):
  print(dates[i])

In [ ]:
for i in range(1,11):
  print(i,')')

In [ ]:
for l in 'banana':
  print(l)

###Loops with conditional statements

In [ ]:
num = [1,2,3,4,5,6,7,8,9]

for stat in num:
  if stat%2==0:
    print('This is an even number')
  else:
    print('This is an odd numeber')

This is an odd numeber
This is an even number
This is an odd numeber
This is an even number
This is an odd numeber
This is an even number
This is an odd numeber
This is an even number
This is an odd numeber

In [ ]:
numbers = [1,2,7,3,4,6,5]

numbers.sort(reverse=True)

print(numbers)

[7, 6, 5, 4, 3, 2, 1]

###Nested for Loop

In [ ]:
##Loop inside loop

for i in range(2):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2

###Continue

In [ ]:
reddy = 2

while reddy<10:
  reddy=reddy+1
  if reddy%2==0:
    continue## continue is like a skip, here if the remainder is 2, when the number is even, skip and if the number is odd, print. Until the number surppasses 10
  print(reddy)

3
5
7
9